body {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 6vh;
    color: azure;
    background-color: cadetblue;
}

canvas {
    border: 0.5vh solid black;
    background-color: lightblue;
    display: block;
    margin: auto;
    margin-bottom: 3vh;
}

#menuButtons {
    min-width: none;
    width: 20vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;

}

#editor {
    gap: 1vh;
    position: relative; 
    width: 100%;
}

#game {
    gap: 1vh;
    position: relative; 
    width: 100%;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5vh;
}

.page-title {
    top: 0;
}

.back-button {
    position: absolute;
    left: 0;
    top: 0;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#toolbar {
    margin: auto;
    align-items: center;
    border: none;
    padding-top:0vh
}

legend {
    font-size: 4vh
}


button {
    font-family: 'Patrick Hand', cursive;
    border: none;
    color: white;
    background-color: #036742;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 1vw + 2vh, 5rem);
}

button.important-button {
    background-color: #036742;
}


button.tool-button {
    background-color: #04AA6D;
}


button:hover {
    background-color: #2aa478;
    transition-duration: 400ms;
}


button:active {
    background-color: #19944a;
    transform: scale(0.9);
    transition-duration: 400ms;
}

button.active {
    background-color: #19944a;
    transform: scale(0.9);
    transition-duration: 400ms;
}


#debugMenu {
    font-size: 4vh;
}