body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:azure;
    background-color: cadetblue;
}
canvas {
    border: 2px solid black;
    background-color: lightblue;
    display: block;
    margin: auto;
}



#toolbar {
    margin-top: 10px;
}